*{
    box-sizing: border-box;
}

html {
    --light-blue: #0ea5e9;
    --dark-blue: #0284c7;
    --light-gray: #e5e5e5;
    --dark-gray: #737373
    --main-font: #171717;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--main-font);
    background-color: var(--light-gray);
    margin: 100px 30px;
}

.form {
    max-width: 1024px;
    padding: 50px;
    margin: auto;
    background-color: white;

    display: flex;
    justify-content: center;

    border: 1px solid var(--dark-gray);
    border-radius: 10px;
    box-shadow: 3px 3px 7px gray;
}

.form__image {
    background-image: url(pictures/mountains-2.jpg);
    width: 40%;
    height: 800px;
    background-size: cover;
    background-position: bottom;

}